{	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body{
text-align: center;
margin: 68px 31px 34px 30px;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
border-radius: 10px;
}
header {
	margin-bottom: 10px;
}
h1 {
		
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #F47645;
	margin-bottom: 6px;
}
h2 {
	text-align: left;
	margin-bottom: 26px;
	font-family: Inter;
	font-style: Regular;
	color: black;
	font-size: 14px;
}
ul { text-align: left;
	list-style-type: none;
}
li {text-align: center;
	display: list-item;
	float: left;
	width: 20%;
	margin-right: 4%;
	margin-bottom: 10px;
	background-color: #F9AD8DB8;
	font-family: Inter;
	font-style: Regular;
	color: #F47645;
	border-radius: 6px;
}